#navbar {
    padding: 0px 100px 0px 100px;
    position: fixed; 
    width: 100%;
    z-index: 9999;
}

#link1, #link2, #link3 {
    color: black;
    margin-right: 50px;
}

#login {
    color: white;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0091B9;
    border-style: hidden;
    border-width: 1px;
    border-radius: 15px;
    text-align: center;
}

#searchColumn {
    text-align: center;
}

#searchTitle {
    color: white;
}

#searchButton {
    background-color: orange;
    color: white;
    border: none;
}

#footerColumn {
    margin-left: 20px;
}

#footerLogo {
    margin-top: 20px;
}

#footerLink1 {
    margin-right: 50px;
    margin-top: 100px;
}

#footerLink2, #footerLink3 {
    margin-right: 50px;
}

