body {
    margin: 0;
    font-family: sans-serif;
}

.navbar {
    padding: 0px 100px 0px 100px;
}

.nav-link {
    color: black;
}

#explainer {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: left;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: black; /* ADD THIS LINE */
    
    /* Background styles */
    background-image: url('../images/hero-image.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.hero h1 {
    /* Text styles */
    font-size: 3em;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: black; /* CHANGE THIS LINE */
    text-decoration: none;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid white; /* CHANGE THIS LINE */
    border-radius: 20px;
}

#explainer {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black;
}

#steps {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}
  
#footer {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

#description {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}
  
#login {
    box-shadow: 0 8px 6px -6px black;
}

#confirmButton {
    box-shadow: 0 8px 6px -6px black;
}

#getStarted {
    box-shadow: 0 8px 6px -6px black;
}

#chosenRestaurant {
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: left;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: black; /* ADD THIS LINE */
    
    /* Background styles */
    background-image: url('../images/murrays.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#happyCouple {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black;
}

#confirmationForm {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

#tablePicker {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.tableBlue { 
    margin-left: 10px;
    margin-bottom: 30px;
    height: 100px;
    width: 100px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: box-shadow 1s;
}

.tableBlue:hover {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s; 
}

.tableRed { 
    margin-left: 10px;
    margin-bottom: 30px;
    height: 100px;
    width: 100px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: box-shadow 1s;
}

.tableRed:hover {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s; 
}