#navbar {
    padding: 0px 100px 0px 100px;
    position: fixed; 
    width: 100%;
    z-index: 9999;
}

#link1, #link2, #link3 {
    color: black;
    margin-right: 50px;
}

#login {
    color: white;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0091B9;
    border-style: hidden;
    border-width: 1px;
    border-radius: 15px;
    text-align: center;
}

#headline {
    color: white;
    margin-left: 10px;
}

#tagline {
    color: white;
    margin-left: 10px;
}

#getStarted {
    background-color: orange;
    color: white;
    border: none;
}

#secondRow {
    margin-left: 10px;
    margin-right: 10px;
}

#whyStuff {
    text-align: center;
    margin-top: 20px;
}

#thirdRow {
    text-align: center;
}

#howItWorks {
    margin-top: 50px;
}

#bullets {
    height: 200px;
}

#number1, #number2, #number3 {
    margin: 0 auto;
    background-color: #0091B9;
    color: white;
    height: 100px; 
    width: 100px;
    border-style: solid;
    border-width: 2px;
    border-radius: 100px;
    text-align: center;
    padding-top: 25px;
}

#explainer1, #explainer2, #explainer3 {
    margin: 0 auto;
    padding-top: 10px;
    height: 300px;
    width: 200px;
}

#fourthRow {
    margin-left: 50px;
    margin-right: 50px;
}

#phonePic {
    margin-top: 20px;
}

#featuresBreakout {
    text-align: center;
    margin-top: 200px;
}

#featuresTitle {
    color: black;
    margin-left: 10px;
}

#featuresExplain {
    color: black;
    margin-left: 10px;
}

#viewButton {
    width: 100px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 0;
    box-shadow: 0 8px 6px -6px black;
}

#footerColumn {
    margin-left: 20px;
}

#footerLogo {
    margin-top: 20px;
}

#footerLink1 {
    margin-right: 50px;
    margin-top: 100px;
}

#footerLink2, #footerLink3 {
    margin-right: 50px;
}